[submodule "src/vendor/github.com/solus-project/libosdev"]
	path = src/vendor/github.com/solus-project/libosdev
	url = https://github.com/solus-project/libosdev.git
[submodule "src/vendor/github.com/Sirupsen/logrus"]
	path = src/vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
[submodule "src/vendor/github.com/spf13/pflag"]
	path = src/vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
[submodule "src/vendor/github.com/spf13/cobra"]
	path = src/vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "src/vendor/github.com/go-yaml/yaml"]
	path = src/vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml.git
