[submodule "src/vendor/github.com/solus-project/libosdev"]
	path = src/vendor/github.com/solus-project/libosdev
	url = https://github.com/solus-project/libosdev.git
[submodule "src/vendor/github.com/Sirupsen/logrus"]
	path = src/vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
[submodule "src/vendor/github.com/spf13/pflag"]
	path = src/vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
[submodule "src/vendor/github.com/spf13/cobra"]
	path = src/vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra.git
[submodule "src/vendor/github.com/go-yaml/yaml"]
	path = src/vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml.git
[submodule "src/vendor/github.com/go-ini/ini"]
	path = src/vendor/github.com/go-ini/ini
	url = https://github.com/go-ini/ini.git
[submodule "src/vendor/github.com/BurntSushi/toml"]
	path = src/vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml.git
[submodule "src/vendor/github.com/libgit2/git2go"]
	path = src/vendor/github.com/libgit2/git2go
	url = https://github.com/libgit2/git2go.git
[submodule "src/vendor/github.com/cheggaaa/pb"]
	path = src/vendor/github.com/cheggaaa/pb
	url = https://github.com/cheggaaa/pb.git
[submodule "src/vendor/github.com/mattn/go-runewidth"]
	path = src/vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth.git
[submodule "src/vendor/github.com/jlaffaye/ftp"]
	path = src/vendor/github.com/jlaffaye/ftp
	url = https://github.com/jlaffaye/ftp.git
[submodule "src/vendor/github.com/andelf/go-curl"]
	path = src/vendor/github.com/andelf/go-curl
	url = https://github.com/andelf/go-curl.git
